@model IEnumerable<GameSystem.Models.Msg>
@using GameSystem.Models


@{
    ViewBag.Title = "Information management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div id="clink">
        <img src="/img/icon_home2.png" />
        <a href="/Home/Index">Home page</a>  >>
        <a href="/Msg/Index">Information management</a> >>
        <a href="/Msg/Create">Create information</a>
    </div>
    

    <table  border="1" cellspacing="0"  >
        <tr align="center">
            <td>Title</td>
            <td>Picture</td>
            <td>Type</td>
            <td>Operation</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr  align="center">
                <td width="300px">@item.MsgTitle</td>
                <td  width="150px"><img src="@item.MsgPhoto" style="width:100px;height:50px;" /></td>
                <td  width="150px">@item.MsgType</td>
                <td width="150px">
                    <a href="/Msg/Details/@item.MsgID" target="_blank">Details</a> |
                    <a href="/Msg/Edit/@item.MsgID">Modify</a> |
                    <a href="/Msg/Delete/@item.MsgID">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>
